/* 容器 */
page {
  height: 100vh;

  .search {
    position: absolute;
    width: 90%;
    top: 10rpx;
    left: 45%;
    transform: translateX(-45%);
  }

  .marker-info {
    position: absolute;
    bottom: 10rpx;
    width: 100%;
    z-index: 10;
  }

  .top-left-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 10rpx;
    /* 从右侧对齐 */
    top: 110rpx;
    padding: 10rpx;
    background-color: white;
    border: 1px solid #666;
    border-radius: 12rpx;
  }

  .horizontal-line {
    width: 100%;
    /* 使横线占满整个容器宽度 */
    height: 2rpx;
    /* 横线的高度 */
    background-color: #888;
    /* 横线的颜色 */
    margin: 10rpx 0;
    /* 横线上下的间距 */
  }
}